<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <!-- Home Tab -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Playlist Data Tab -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/playlist" Match="NavLinkMatch.All">
                <span class="bi bi-music-note-list" aria-hidden="true"></span> Most-Streamed Songs
            </NavLink>
        </div>

        <!-- New: Overview Tab -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/overview" Match="NavLinkMatch.All">
                <span class="bi bi-bar-chart-line" aria-hidden="true"></span> Overview
            </NavLink>
        </div>

        <!-- New: About Tab -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/about" Match="NavLinkMatch.All">
                <span class="bi bi-info-circle" aria-hidden="true"></span> About
            </NavLink>
        </div>
    </nav>
</div>
