@page "/playlist"
@inject ApplicationDbContext DbContext
@using SpotifyAPITopTracks.Models

<h3>Spotify Playlist Data</h3>

@if (playlistData == null)
{
    <p>Lädt die Daten...</p>
}
{
    <table class="table playlist-table">
        <thead>
            <tr>
                <th>Track Name</th>
                <th>Artist Names</th>
                <th>Streams</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in playlistData)
            {
                <tr>
                    <td>@track.TrackName</td>
                    <td>@track.ArtistNames</td>
                    <td>@track.Streams</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Track> playlistData;

    protected override void OnInitialized()
    {
        playlistData = DbContext.Tracks.ToList();
    }
}
